@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700;800&display=swap");
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow-x: hidden;
}

.hero-bg {
  background: linear-gradient(180deg, #f0f7ff 0%, #ffffff 100%);
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}
.no-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
